.app {
  background-color: #252d4a;
  width: 450px;
  min-height: 200px;
  height: min-content;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: space-evenly;
}

.score-section {
  display: flex;
  font-size: 24px;
  align-items: center;
}

/* QUESTION/TIMER/LEFT SECTION */
.question-section {
  width: 100%;
  position: relative;
}

.question-count span {
  font-size: 28px;
}

.question-text {
  margin-bottom: 12px;
}

.timer-text {
  background: rgb(230, 153, 12);
  padding: 15px;
  margin-top: 20px;
  margin-right: 20px;
  border: 5px solid rgb(255, 189, 67);
  border-radius: 15px;
  text-align: center;
}

/* ANSWERS/RIGHT SECTION */
.answer-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.correct {
  background-color: #2f922f;
}

.incorrect {
  background-color: #ff3333;
}

.multipleChoice {
  margin: auto;
  position: relative;
  display: flex;
  align-items: center;
}
.multipleChoice button:hover {
  background-color: #555e7d;
}

.multipleChoice button:focus {
  outline: none;
}

.multipleChoice button svg {
  margin-right: 5px;
}

/* Text area */
form div.textAnswer {
  width: 12em;
  margin-right: 1em;
  margin-left: -1em;
}

/* BUTTON */
button.InsertMCQButton {
  padding: 6px 8px 6px 4px;
  display: block;
}
button.InsertConsButton {
  display: block;
  padding: 6px 8px 6px 4px;
}
button.InsertFIBButton {
  display: block;
  padding: 6px 8px 6px 4px;
}
button.InsertAudioFile {
  display: block;
  padding: 6px 8px 6px 4px;
}
button.InsertParagraphButton {
  display: block;
  padding: 6px 8px 6px 4px;
}
.css-mhc70k-MuiGrid-root > .MuiGrid-item {
  padding-left: 0px;
}
.NavigationAsidePaper {
  background-color: rgb(255, 255, 255);
  border-color: #000;
  border-radius: 4px;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
    0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%),
    0px 0px 0px 1px rgb(0 0 0 / 10%) !important;
}
.InsertButton {
  display: flex;
  background-color: rgb(255, 255, 255);
  border-color: #000;
  border-radius: 4px;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
    0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%),
    0px 0px 0px 1px rgb(0 0 0 / 10%);
  padding: 8px;
  position: fixed;
  transition-duration: 0.3s;
  z-index: 100 !important;
  column-gap: 16px;
  row-gap: 8px;
  transform: translateZ(0);
  flex-flow: row wrap;
  flex-direction: row;
}
.RichTextContentEdit {
  background-color: #fff;
  border-color: rgb(0, 0, 0, 23%);
  display: inline-block;
  word-break: break-word;
  width: 100% !important;
}
div.css-46bh2p-MuiCardContent-root {
  padding-top: 0;
}

.EditExam .NavigationAside {
  /* width: 170px; */
  position: relative;
  /* margin: auto; */
  padding: 8px;
  margin: 0 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%;
  transform: translate(-50%, 0);
  margin-left: auto;
  overflow: hidden;
}
.previews {
  box-sizing: border-box;
  display: block;
}
.RaImageField-image {
  margin: 0.25rem;
  width: 200px;
  height: 100px;
  object-fit: contain;
}
.RaFileInput-removeButton {
  display: inline-block;
  position: relative;
}
.RaFileInput-removeButton button {
  position: absolute !important;
  top: 8px;
  right: 8px;
  min-width: 16px;
  /* opacity: 1; */
}
.css-10fi992-MuiButtonBase-root-MuiButton-root {
  align-items: center !important;
  justify-content: center !important;
  box-sizing: border-box !important;
  outline: 0 !important;
  border: 0 !important;
  margin: 0 !important;
  border-radius: 50% !important;
  overflow: visible !important;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms !important;
  padding: 5px !important;
  font-size: 1.125rem !important;
}
.css-10fi992-MuiButtonBase-root-MuiButton-root:hover {
  background-color: rgba(0, 0, 0, 0.04) !important ;
}

.number {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffb703;
  font-size: 14px;
  font-weight: 700;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  text-align: center;
  line-height: 30px;
  color: #fff;
}
.break {
  flex-basis: 100%;
  height: 0;
}
.test-paper {
  padding-top: 58px !important;
}
.navigation-paper {
  padding-top: 72px !important;
}
/* popup box */
.overlay-loading {
  position: fixed;
  top: 3em;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  z-index: 1000;
}
.overlay-loading:target {
  visibility: visible;
  opacity: 1;
}
.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.popupError {
  height: 100px;
}
.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: "Montserrat", sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06d85f;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}
/* Responsive tablet */
@media only screen and (max-width: 1200px) {
  .NavigationAside {
    width: 250px;
  }
}
@media only screen and (max-width: 1000px) {
  .NavigationAside {
    width: 250px;
  }
}
/* Responsive small tablet */
@media only screen and (max-width: 800px) {
  .NavigationAside {
    width: 178px;
  }
  .test-paper {
    padding-top: 94px !important;
  }
  .navigation-paper {
    padding-top: 108px !important;
  }
}
/* Responsive mobile */
@media only screen and (max-width: 600px) {
  .NavigationAside {
    display: none;
  }
  .RaToolbar-mobileToolbar {
    padding: 8px 16px !important;
  }
  .box {
    width: 70%;
  }
  .popup {
    width: 70%;
  }
}
/* Responsive small mobile */
@media only screen and (max-width: 400px) {
  button.InsertConsButton {
    margin-left: 0px;
  }
  button.InsertFIBButton {
    margin-left: 0px;
  }
  button.InsertAudioFile {
    margin-left: 0px;
  }
  button.InsertParagraphButton {
    margin-left: 0px;
  }
}
