.app {
  background-color: #252d4a;
  width: 450px;
  min-height: 200px;
  height: min-content;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: space-evenly;
}

.score-section {
  display: flex;
  font-size: 24px;
  align-items: center;
}

/* QUESTION/TIMER/LEFT SECTION */
.question-section {
  width: 100%;
  position: relative;
}

.question-count span {
  font-size: 24px;
}

.question-text {
  margin-bottom: 12px;
}

.timer-text {
  background: rgb(230, 153, 12);
  padding: 15px;
  margin-top: 20px;
  margin-right: 20px;
  border: 5px solid rgb(255, 189, 67);
  border-radius: 15px;
  text-align: center;
}

/* ANSWERS/RIGHT SECTION */
.answer-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.correct {
  background-color: #2f922f;
}

.incorrect {
  background-color: #ff3333;
}

.multipleChoice {
  margin: auto;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}
.multipleChoice button:hover {
  background-color: #e5e8f2;
}

.multipleChoice button:focus {
  outline: none;
}

.multipleChoice button svg {
  margin-right: 5px;
}

/* Text area */
form div.textAnswer1 {
  width: 12em;
  margin-right: 1em;
  margin-left: -1em;
  background-color: #fff;
  border-color: rgb(0, 0, 0, 23%);
  display: flex;
  flex-direction: row;
}

/* BUTTON */
.css-mhc70k-MuiGrid-root > .MuiGrid-item {
  padding-left: 0px;
}
#questionText {
  border-color: #fff;
  background-color: #fff;
}
.PaperBox {
  background-color: rgb(255, 255, 255);
  border-color: #000;
  border-radius: 4px;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
    0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%),
    0px 0px 0px 1px rgb(0 0 0 / 20%);
}

div.css-46bh2p-MuiCardContent-root {
  padding-top: 0;
}
.NavigationAside {
  max-width: 200px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  left: 50%;
  transform: translate(-50%, 0);
  overflow: hidden;
  padding: 2px;
}
/* Timer */
.Duration {
  visibility: hidden;
}
.RichTextToolbar {
  display: none;
  overflow: hidden;
  box-sizing: border-box;
  width: 100% !important;
  height: 0px;
  margin-top: -20px;
}
.RichTextContent {
  background-color: #fff;
  border-color: rgb(0, 0, 0, 23%);
  pointer-events: none;
  display: inline-block;
  word-break: break-all;
  width: 100% !important;
}
.MCQContent {
  background-color: #fff;
  border-color: rgb(0, 0, 0, 23%);
  pointer-events: none;
}
/* Highlight css */
.highlight-control {
  display: none;
  padding: 5px;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 13px;
  z-index: 999;
  min-width: 100px;
  max-width: 190px;
  white-space: normal !important;
}
.highlight-icon {
  padding: 6px 4px;
  cursor: pointer;
}
.highlight-color {
  width: 15px;
  height: 15px;
  display: inline-block !important;
  border-radius: 2px;
  margin-right: 5px;
}
.highlight-color.blue {
  background-color: #abf7ff;
}
.highlight-color.pink {
  background-color: #ffd1d9;
}
.highlight-color.green {
  background-color: #ceffce;
}
.highlight-color.yellow {
  background-color: #ffff7b;
}
.highlight-color.red {
  background-color: #ff3333;
}
.highlight-color.crossed {
  background-color: rgba(0, 0, 0, 0.01);
  text-decoration: line-through;
  text-decoration-color: #000;
  position: relative;
  width: 30px;
}
.highlight-color {
  width: 15px;
  height: 15px;
  display: inline-block !important;
  border-radius: 2px;
  margin-right: 5px;
}
.overlay-navigation {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1000 !important;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-tap-highlight-color: transparent;
}
.fill {
  flex: 1;
  background: transparent;
}
.drawer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
.hideGrid {
  display: block;
}
.unHideGrid {
  display: none;
}
.drawer-toggler {
  position: fixed;
  right: 0;
  top: calc(60px + 0.7rem);
  z-index: 300;
}
.drawer-toggler .btn {
  border-radius: 200px;
  padding-right: 12px;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: rgb(208 208 208);
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  transition: padding 200ms;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
/* Note pad */
@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
#textAreaNote {
  font-family: "Space Mono", monospace !important;
}

/* Responsive tablet */
@media only screen and (max-width: 1200px) {
  .NavigationAside {
    width: 250px;
  }
}
@media only screen and (max-width: 1000px) {
  .NavigationAside {
    width: 250px;
  }
}
/* Responsive small tablet */
@media only screen and (max-width: 800px) {
  .NavigationAside {
    width: 178px;
  }
}
/* Responsive mobile */
@media only screen and (max-width: 600px) {
  .hideGrid {
    display: none;
  }
  .unHideGrid {
    display: block;
  }
  .NavigationAside {
    position: fixed !important;
    top: 70px;
    transform: unset;
    left: auto;
    margin-left: auto;
    overflow: auto;
  }
}
/* Responsive small mobile */
@media only screen and (max-width: 400px) {
  button.InsertConsButton {
    margin-left: 0px;
  }
}
