.GridPaper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px !important;
  height: 270px !important;
}
.GridContainer {
  max-width: 1250px;
  display: inline-flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 1em;
  justify-content: space-around;
  row-gap: 40px;
  column-gap: 15px;
  padding-bottom: 20px;
}
/* #demo-multiple-checkbox-label {
  transform: translate(12px, 24px) scale(1);
} */
